server:
  port: 8080

spring:
  application:
    name: wallet-api
  data:
    mongodb:
      uri: mongodb://localhost:27017/wallet
  mvc:
    problemdetails:
      enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
