# Python Caches & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Packaging & Distribution
build/
dist/
*.egg-info/
.eggs/

# Virtual Environments
venv/
.venv/
env/

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# Test & Coverage
.coverage
htmlcov/
.pytest_cache/

# Temporary run logs
*.log
/tmp/
